/* Random */
html {  
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: #F7F7F7;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  .button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
  }
  
  .button--green:hover {
    color: #fff;
    background-color: #3b8070;
  }
  
  .button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
  }
  
  .button--grey:hover {
    color: #fff;
    background-color: #35495e;
  }
  
  .container {
      width: 1110px;
  }

/* Layout */

.sidebar-container {
    width: 160px;
}

.form-container {
    @apply flex flex-grow;
}

.form-main {
    @apply w-3/5 px-16;
}

.form-main-full {
    @apply w-full pl-16;
}


.form-aside {
    @apply w-2/5 ml-auto text-gray-700;
}


/* Form elements */

.text-input {
	@apply w-full border border-gray-200 shadow-inner rounded py-2 px-3 h-12 text-gray-800;
}

.text-input:focus {
    /* color: red; */
    @apply outline-none shadow-outline;
}

.text-input-sm {
    @apply h-10;
}
